body {
  padding: 0;
  margin: 0;
}

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   color: #4D4F7D;
}

* {
  box-sizing: border-box;
}

a {
  color: #4D4F7D;
  text-decoration: underline;
}

a:hover {
  color: #A8A9D1;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #000445;
}

.sortable-list {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 300px;
}

.sortable-list li {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #B9BBFF;
  color: #B9BBFF;
}

h1.shuffle-button {
  /*background: rgba(0,0,0,0.5);*/
  padding: 5px 20px;
  border: 2px solid #B9BBFF;
  color: #B9BBFF;
  border-radius: 5px;
}

h1.shuffle-button:hover {
  color: #A8A9D1;
  border: 2px solid #A8A9D1;
}

.noselect {
  -webkit-touch-callout: none;
  user-select: none;
}